<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Heads Up Game</title>
  <meta name="description" content="Heads Up Progressive Web App" />
  <meta property="og:url" content="https://trys-heads-up.netlify.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Heads Up Game" />
  <meta property="og:description" content="Heads Up Progressive Web App" />
  <meta property="og:image" content="https://trys-heads-up.netlify.com/assets/icons/og.jpg" />
  <meta property="og:image:alt" content="Heads Up" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Heads Up Game" />
  <meta name="twitter:description" content="Heads Up Progressive Web App" />
  <meta name="twitter:image" content="https://trys-heads-up.netlify.com/assets/icons/og.jpg" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>manifest.json">
  <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png" type="image/png" />
  <% if (htmlWebpackPlugin.options.manifest.theme_color) { %>
  <meta name="theme-color" content="<%= htmlWebpackPlugin.options.manifest.theme_color %>">
  <% } %>
  <% for (var chunk of webpack.chunks) { %>
  <% if (chunk.names.length === 1 && chunk.names[0] === 'polyfills') continue; %>
  <% for (var file of chunk.files) { %>
  <% if (htmlWebpackPlugin.options.preload && file.match(/\.(js|css)$/)) { %>
  <link rel="preload" href="<%= htmlWebpackPlugin.files.publicPath + file %>"
    as="<%= file.match(/\.css$/)?'style':'script' %>">
  <% } else if (file.match(/manifest\.json$/)) { %>
  <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath + file %>">
  <% } %>
  <% } %>
  <% } %>
</head>

<body>
  <%= htmlWebpackPlugin.options.ssr({
			url: '/'
		}) %>
  <script defer src="<%= htmlWebpackPlugin.files.chunks['bundle'].entry %>"></script>
  <script>window.fetch || document.write('<script src="<%= htmlWebpackPlugin.files.chunks["polyfills"].entry %>"><\/script>')</script>
</body>

</html>